<div class="contact">
    <section class="contact-first">
        <div class="contact-first-container">
            <h2 class="title">Contact Us</h2>
            <div style="display:flex;justify-content:center;">
                <div class="divider"></div>
            </div>
            <p class="title-text">Have a question? Feel free to get in touch with us, we’ll get back to you shortly.</p>
        </div>
    </section>

    <section class="contact-second">
        <div class="contact-second-first">
            <div class="contact-second-text">
                <h5>Contact Details</h5>
                <ul>
                    <li>P: +1 234 567 890</li>
                    <li>E: contact@info.com</li>
                    <li>A: 123 Fifth Avenue, New York, NY 10160</li>
                </ul>
                <div class="">
                    <h5>Follow Us</h5>
                    <div class="contact-icons">
                        <ul>
                            <li>
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contact-second-form">
                <div class="ss">
                    <form>
                        <div class="form-item">
                            <label>Name<span>*</span></label>
                            <div class="name-inputs">
                                <div>
                                    <input />
                                    <label>First</label>
                                </div>
                                <div>
                                    <input />
                                    <label>Last</label>
                                </div>
                            </div>

                        </div>
                        <div class="form-item">
                            <label>Email<span>*</span></label>
                            <input />
                        </div>
                        <div class="form-item">
                            <label>Message<span>*</span></label>
                            <textarea></textarea>
                        </div>
                        <button class="explore-btn">
                            <span>Submit</span>
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <section class="contact-third">
        <h2 class="title">Useful Links</h2>
        <div style="display:flex;justify-content:center;">
            <div class="divider"></div>
        </div>
        <div class="contact-container">
            <div class="contact-card">
                <div class="contact-icon">
                    <i class="fa-solid fa-handshake"></i>
                </div>
                <h1 class="title">Partnerships</h1>
                <p>Interested in a partnership with us?</p>
                <a class="explore-btn">
                    <span>Apply Here</span>
                </a>
            </div>
            <div class="contact-card">
                <div class="contact-icon">
                    <i class="fas fa-question"></i>
                </div>
                <h1 class="title">FAQ</h1>
                <p>Most questions can be answered here.</p>
                <a class="explore-btn">
                    <span>Go to faq</span>
                </a>
            </div>
            <div class="contact-card">
                <div class="contact-icon">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <h1 class="title">Store Locations</h1>
                <p>Find your nearest Jewelry store.</p>
                <a class="explore-btn">
                    <span>Find Store</span>
                </a>
            </div>
        </div>
    </section>
</div>