html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    position: relative;
    background-color: #faf7f5;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    height: 100%;
}

.for-top {
    padding: 4px 8px 2px 8px;
    background-color: #db9662;
    color: white;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    display: none;
    cursor: pointer
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    transition: 2.5s position
}

footer {
    color: rgba(0,0,0,0.65) !important;
}

.footer-container {
    padding: 100px 0;
}

footer ul {
    list-style: none;
}

.footer-menu {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 30px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    padding: 20px 30px 0 30px;
}

    .footer-icons a {
        font-size: 20px;
    }


footer a {
    padding: 0 20px;
    color: rgba(0,0,0,0.65) !important;
    font-size: 15px;
}

.footer-logo img {
    width: 160px;
    height: 68px;
    max-width: 100%;
}

.copyright {
    padding: 30px;
}

    .copyright p {
        margin-bottom: 0;
        font-size: 15px;
    }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

a {
    text-decoration: none;
    color: black;
}

nav > ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    color: black;
}

    nav > ul > li > a {
        text-transform: uppercase;
        font-size: 12px !important;
    }

.default-logo {
    width: 33.4%;
}

    .default-logo > img {
        width: 25%;
    }

.info {
    width: 33.3%;
    display: flex;
    justify-content: right;
    align-items: center;
}


.login-icon > i {
    color: #b8b8b8;
}

.login-icon {
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
}

.header-cart {
    color: #db9662;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
}


.login-icon span {
    color: #666;
    font-size: 15px;
}


.cart-icon {
    position: relative;
    margin-left: 5px;
}

#cart-item-count {
    position: absolute;
    width: 17px;
    height: 17px;
    top: -5px;
    left: 15px;
    border-radius: 50%;
    background-color: #db9662;
    color: black;
    font-size: 12px;
}


main {
    width: 100%;
    top: 0;
    left: 0;
}

.main-line {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    background-color: #dee2e6;
    z-index: -1;
}

.cart-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
    display: flex;
    justify-content: right;
    overflow: hidden;
    display: none;
}

.cart {
    position: fixed;
    width: 35%;
    height: 100vh;
    margin-left: 65%;
    z-index: 10;
    background-color: white;
    transform: translateX(135%);
    transition: transform 0.3s ease;
}

.cart-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid lightgray;
}

    .cart-top button, .filter-sec-top > button {
        background-color: transparent;
        padding: 5px 5px 5px 10px;
        border: none;
        font-size: 20px;
    }

    .cart-top h2 {
        font-weight: 500;
        font-size: 15px;
        margin: 0;
        color: #666;
    }

.cart-second {
    height: 100%;
    position: absolute;
    width: 100%;
}

.cart-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
    color: #666;
}

.cart-container {
    padding: 1em 1.3em;
    margin: 0;
    color: rgba(0,0,0,0.65);
    overflow: auto;
    height: 70%;
}

.cart-item {
    display: flex;
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid lightgray;
    align-items: center;
}

    .cart-item img {
        width: 60px;
        height: 60px;
    }

.first {
    border: none;
}


.cart-main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    text-align: left;
    align-items: center;
    padding: 7px;
    padding-right: 0;
}

.cart-main-right {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.cart-x {
    background-color: white;
    margin-bottom: 0.5em;
}

    .cart-x i {
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid lightgray;
        padding: 4px;
        font-size: 14px;
        transition: color,border-color 0.5s;
    }

        .cart-x i:hover {
            color: black;
            border-color: black;
        }

.cart .card-productname {
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    margin-bottom: 0.33em;
    opacity: .8;
}

.cart .card-price {
    font-weight: 500;
    opacity: 0.8;
}

.cart-quantity {
    display: flex;
}

    .cart-quantity span, .cart-quantity input {
        border: 1px solid lightgray;
        font-size: 18px;
        padding: 2px 5px;
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .cart-quantity span {
        cursor: pointer;
    }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
    .empty-text {
    text-align: center;
}

.empty {
    height: auto !important;
    bottom: 20px;
}

.cart-bottom {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 6%;
}

    .cart-bottom .explore-btn {
        width: 100%;
        padding: 10px;
        color: black;
        margin: 0;
        margin-bottom: 10px;
    }


.cart-buttons {
    padding: 1.34em;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-left: none;
    border-right: none;
    align-items: center;
    padding: 0.75em 1.34em;
}


    .subtotal p {
        margin: 0;
    }

.title {
    font-family: 'Cormorant Garamond',serif;
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1.4em;
    padding-right: 20px;
}

.title-text {
    font-family: 'Cormorant Garamond',serif;
    font-style: italic;
    font-size: 0.8em;
}





.filter-sect {
    position: fixed;
    width: 17.1%;
    height: 100vh;
    z-index: 11;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.filter-sec-top{
    display:flex;
    justify-content:right;
}


.filder-categories-container{
    position:absolute;
    height:0;
}

.wrapper .title {
    padding-right: 0;
    font-size: 1.9em;
    margin-bottom: 15px;
    margin-left: 3px;
}

.filter-sec-top>button{
   opacity: .5;
}

.cart-overlay2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
    display: flex;
    justify-content: right;
    overflow: hidden;
    display: none;
}




.wrapper {
  padding:0px 30px 30px 30px;
}



.wrapper .price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  justify-content:space-between;
  margin-top:15px;
  font-weight:700;
  font-size:12px;
  color:#666;
}


.wrapper .slider {
  height: 3px;
  position: relative;
  background-color: #ddd;
  border-radius: 5px;
  color:yellow;
  width:100%;
}

    .wrapper .progress {
        position: absolute;
        height: 100%;
        left: 0%;
        right: 0%;
        background-color: #db9662;
        border-radius: 5px;
    }

.wrapper .range-input {
  position: relative;
}

.wrapper .range-input input {
  position: absolute;
  width: 100%;
  height: 3px;
  top: -13px;
  pointer-events: none;
  background: none;
  appearance: none;
  accent-color: #4070f4;
  padding:0.75em 0;
  border:none;
}

    .wrapper .range-input input::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        background: rgba(0,0,0,0.6);
        border-radius: 50%;
        pointer-events: auto;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.04);
        -webkit-appearance: none;
    }

    .filter-price-buttons{
        display:flex;
        justify-content:right;
    }

 .filter-price-buttons .explore-btn{
     background-color:transparent;
     margin-top:15px;
     padding:5px 12px;
 }




.filter-category-top{
    display:flex;
    align-items:center;
    position:relative;
    opacity:.7;
    cursor:pointer;
}

.filter-category-top .title{
    margin:0;
    font-size:1.4em;
    padding-right:0;
    margin-left:35px;

}
    .filter-category-top span{
        position:absolute;
        top:5px;
        right:10%;
        font-size:1em;
    }


    nav {
        width: 33.3%;
        background-color: transparent;
    }

.home {
}

.home-first {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 4;
}


.home-first-img {
    background-image: url("/img/hero-01.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    background-size: 50% 100%;
    width: 50%;
    height: 100%;
}

.home-first-text {
    color: black;
    padding: 100px 50px;
    width: 50%;
    display: flex;
    justify-content: right;
}

    .home-first-text > div {
        width: 60%;
        margin-right: 30px
    }

.explore-btn {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0px 25px;
    border: 1px solid black;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 50px;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}

    .explore-btn:hover {
        color: white;
        background-color: black;
    }


.home-second {
    padding: 100px 30px;
    text-align: center;
}

    .home-second .title {
        font-size: 3em !important;
        padding-right: 0;
    }

    .home-second .explore-btn {
        border: none;
        text-decoration: underline;
        margin-top: 20px;
        padding-bottom: 40px;
    }

        .home-second .explore-btn:hover {
            opacity: 0.6;
            color: initial;
            background-color: initial;
        }

.categories-container {
    display: flex;
    justify-content: space-between;
    width: 63%;
    margin: auto;
}

.category-card {
    width: 32%;
    position: relative;
    padding-bottom: 20px;
    cursor: pointer;
}

    .category-card img {
        width: 100%;
        display: block;
    }

.category-text {
    position: absolute;
    bottom: 8%;
    left: 40%;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond',serif;
}

    .category-text p {
        margin: 0;
        font-size: .9em;
        font-weight: 700;
    }


    .category-text span {
        font-size: .75em;
        font-weight: 700;
        opacity: .7;
    }


.home-third {
    padding: 100px 0px;
    width: 36%;
    margin: auto;
    text-align: center;
}

.ring-logo {
    margin-bottom: 50px;
}

.home-third .title {
    font-style: italic;
    font-size: 45px;
    padding-right: 0;
    margin-bottom: 0.7em;
}

.home-third p {
    color: #7a7a7a;
}

.home-third .explore-btn {
    padding: 10px 15px;
    margin-top: 30px;
}

.home-fourth, .home-eighth, .home-nineth {
    padding: 100px 30px;
    text-align: center;
}

    .home-fourth .title, .home-eighth .title, .home-nineth .title {
        font-size: 3em !important;
        padding-right: 0;
    }

    .home-fourth .explore-btn, .home-eighth .explore-btn {
        border: none;
        text-decoration: underline;
        margin-top: 20px;
        padding-bottom: 40px;
    }

        .home-fourth .explore-btn:hover, .home-eighth .explore-btn:hover {
            opacity: 0.6;
            color: initial;
            background-color: initial;
        }

    .home-fourth .category-card, .home-eighth .category-card {
        cursor: default;
    }

        .home-fourth .category-card img, .home-eighth .category-card img {
            cursor: pointer;
        }


.card-icons {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.3s;
}

.basket, .view {
    border-radius: 50%;
    color: black;
    background-color: white;
    width: 1.5em;
    height: 1.5em;
    justify-content: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    border: none;
    line-height: initial;
}

    .basket > i, .view > i {
        opacity: 0.7;
    }


.card-icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: right;
}

.tooltiptext {
    visibility: hidden;
    white-space: nowrap;
    font-size: 0.7em;
    margin-right: 10px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 0.7em 0.9em;
    position: absolute;
    top: -5px;
    right: 100%;
}

    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent black;
    }

.basket:hover .tooltiptext {
    visibility: visible;
}

.view:hover .tooltiptext {
    visibility: visible;
}

.home-fourth .category-card:hover .card-icons, .home-eighth .category-card:hover .card-icons {
    opacity: 1;
}

/*.home-fourth .category-card {
    cursor: initial;
}*/

.card-text {
    text-align: left;
    padding: 0 20px;
    margin-top: 10px;
}

.card-categoryname {
    font-size: .85em;
    margin-bottom: 0.5em;
    display: block;
    line-height: 1.3;
    opacity: .6;
}

.card-productname {
    margin-bottom: 0.5em;
    padding: 0;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Cormorant Garamond',serif;
    line-height: 1.3em;
    cursor: pointer;
}

    .card-productname:hover {
        color: initial;
    }

.card-price {
    line-height: 1.3;
    font-weight: 700;
    font-size: .9em;
    color: rgba(0,0,0,0.65)
}

.home-fifth {
    padding: 50px 30px;
    text-align: right;
    position: relative;
}

.home-fifth-first {
    display: flex;
    justify-content: right;
}

    .home-fifth-first img {
        width: 50%;
        height: 610px;
        object-fit: cover;
    }

.home-fifth-second {
    width: 35%;
    background-color: white;
    padding: 60px 110px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 18.2%;
}

.home-fifth-third {
    position: absolute;
    top: 10%;
    left: 32.5%;
}

.home-fifth .title, .home-tenth .title {
    font-size: 3em !important;
    padding-right: 0;
    margin-top: 20px;
    line-height: 1.3em;
}

.home-fifth .title-text, .home-tenth .title-text {
    font-size: 2em !important;
    font-weight: 600;
    font-style: italic;
    margin-top: 5px;
}

.home-fifth .explore-btn {
    margin-top: 20px;
    padding: 10px 20px;
}

.home-sixth {
    padding: 100px 0;
    width: 31.6%;
    margin: auto;
    text-align: center;
}

.home-sixth-first {
    position: relative;
}

.home-sixth-second {
    position: absolute;
    bottom: 5%;
    left: 40%;
}

    .home-sixth-second h5 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }


.home-sixth .title-text {
    font-size: 1.8em;
    font-weight: 600;
    padding-top: 30px;
    margin-bottom: 20px;
}

.divider {
    width: 50px;
    border-bottom: 1px solid #0000001A;
    padding: 30px 0px 0px 0px;
}

.home-seventh {
    padding: 50px 30px;
}

.collections {
    display: flex;
    justify-content: space-around;
}

.collection-card {
    width: 32.5%;
    position: relative;
}

    .collection-card img {
        width: 100%;
    }

.collection-card-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, black 0%, #00000000 70%);
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.collection-card-text {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    margin-top: 80px;
}

    .collection-card-text a {
        font-family: 'Cormorant Garamond',serif;
        font-weight: 600;
        font-size: 1.4em;
        text-decoration: underline;
        color: white;
    }

        .collection-card-text a:hover {
            color: white;
        }

    .collection-card-text p {
        font-size: 18px;
    }

    .collection-card-text h6 {
        font-size: 12px;
        font-weight: 400;
    }


.home-eighth .category-card {
    width: 49%;
}

.home-eighth .categories-container {
    margin-top: 20px;
}

.home-nineth .divider, .home-tenth .divider {
    padding-top: 15px;
}

.precious-container {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    margin-top: 40px;
}

.precious-card {
    width: 32%
}

.precious-img img {
    width: 100%;
}

.precious-txt {
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

    .precious-txt h3 {
        font-style: italic;
        font-family: 'Cormorant Garamond',serif;
        font-weight: 600;
        font-size: 1.8em;
    }

    .precious-txt p {
        color: rgb(122, 122, 122);
        font-weight: 400;
        font-size: 15px;
        line-height: 1.6em;
    }


.home-tenth {
    padding: 10em 30px;
    position: relative;
}

.home-tenth-first {
    display: flex;
    justify-content: right;
    width: 82%;
    background-color: white;
    padding: 20px 40px
}

.home-tenth-second {
    width: 35%;
    text-align: center;
    padding: 40px 40px;
}

.home-tenth-third {
    position: absolute;
    top: 8%;
    left: 20.1%;
    height: 100%;
    width: 30%;
}

.tenth img {
    width: 100%;
    max-width: 100%
}

.home-tenth .explore-btn {
    margin-top: 40px;
    padding: 10px 15px;
}


.home-tenth-second .title {
    font-size: 2.7em !important;
}

.home-tenth-second .title-text {
    font-size: 1.8em !important;
}

.home-eleventh {
    padding: 150px 0px 200px 0px;
    text-align: center;
}


.sale-icon {
    width: 30%;
    margin: auto;
    margin-bottom: 15px;
}

.home-eleventh-first {
    width: 70%;
    margin: auto;
}

    .home-eleventh-first .title {
        font-size: 80px;
        font-style: italic;
        margin-bottom: 0.6em;
        padding-right: 0;
    }

    .home-eleventh-first p {
        font-family: "Cormorant Garamond", Sans-serif;
        font-size: 30px;
        font-style: italic;
        line-height: 35px;
        opacity: .8;
    }

    .home-eleventh-first .explore-btn {
        margin-top: 30px;
        padding: 12px 15px;
    }

















.about-first {
    padding: 250px 0px 170px 0px;
    text-align: center;
}

.about-first-container {
    width: 36%;
    margin: auto;
}

    .about-first-container .title {
        font-size: 45px;
        font-style: italic;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .about-first-container p, .about-third-txt p {
        font-weight: 300;
        font-size: 15px;
        color: black;
        line-height: 1.6em;
    }

.about-first {
}

.about-second, .about-fourth {
    padding: 0 30px;
}

.about-second-first {
    background-image: url("/img/bg-03.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
}

.about-third {
    padding-top: 30px;
    text-align: left;
}

.about-third-first {
    display: flex;
    width: 100%;
    justify-content: right;
}

.about-third-txt {
    width: 24%;
    margin-right: 110px;
}

.about-third-img {
    width: 50%;
}

    .about-third-img img {
        width: 100%;
        height: 605px;
        object-fit: cover;
    }

.about-third-txt .title {
    font-size: 2.8em;
    padding-right: 0;
    margin-top: 125px;
    line-height: 1.2em;
}

.about-third .divider {
    padding-top: 0;
    margin: 20px 0;
}

.about-third-txt h5 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
}


.about-fourth-first {
    background-image: url("/img/bg-08.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 94vh;
    object-fit: cover;
    position: relative;
}

.about-fourth-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(45deg, #000000 0%, #00000000 100%);
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.about-fourth-txt {
    /*    position: absolute;
    height: 30%;*/
    width: 34%;
    color: #FFFFFF !important;
    margin-top: 22%;
    margin-left: 20%;
    background: initial;
}

    .about-fourth-txt .title {
        padding-right: 0;
        font-size: 2.7em;
        width: 88%;
    }

    .about-fourth-txt .divider {
        border-color: white;
        padding-top: 0;
        margin: 20px 0;
    }

    .about-fourth-txt p {
        width: 80%;
    }






.contact-first {
    padding: 175px 0px 200px 0px;
    text-align: center;
}

.contact-first-container {
    width: 30%;
    margin: auto;
}

    .contact-first-container .title {
        font-size: 5em;
        padding-right: 0;
    }

    .contact-first-container .title-text {
        font-size: 2em;
        font-weight: 600;
    }

    .contact-first-container .divider {
        padding-top: 0;
        margin: 10px 0;
    }



.contact-second {
    padding: 0 30px;
}

.contact-second-first {
    display: flex;
    /*    width: 60%;
    margin: auto;*/
    justify-content: right;
    align-items: center;
}

    .contact-second-first ul {
        list-style: none;
    }

.contact-second-text > ul {
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 30px;
    font-style: italic;
    line-height: 30px;
}

.contact-icons {
    display: flex;
}

.contact-third {
    padding: 125px 0;
    text-align: center;
}

    .contact-third .title {
        padding-right: 0;
        font-size: 2.8em;
        margin-bottom: 0;
    }

.contact-card .title {
    font-size: 2em;
    margin-bottom: 5px;
}


.contact-container {
    display: flex;
    width: 64%;
    margin: auto;
    /*justify-content: space-between;*/
    margin-top: 40px;
}

.contact-card {
    padding: 60px 10px 70px 10px;
    width: 32.4%;
    background-color: white !important;
}

.contact-icon {
    font-size: 30px;
    margin-bottom: 15px;
}

.contact-card p {
    margin-top: 0px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 35px;
}

.contact-card .explore-btn {
    padding: 10px 15px;
    margin-top: 0;
}

.contact-second-text h5 {
    margin-bottom: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
}

.contact-second-text {
    font-weight: 400;
    text-align: left;
    margin-right: 150px;
}

    .contact-second-text > ul {
        margin: 20px 0;
        color: #7a7a7a;
    }

        .contact-second-text > ul li {
            padding: 7.5px 0;
        }

.contact-second ul {
    padding: 0;
}

.contact-second-text > div {
    margin-top: 50px;
}

.contact-icons ul {
    display: flex;
}

.contact-icons i {
    padding: 12px 12px;
    border: 1px solid #69727d;
    border-radius: 50%;
    color: black;
}

.contact-icons li {
    margin-right: 10px;
}

.name-inputs {
    display: flex;
    justify-content: space-between;
}

    .name-inputs div {
        width: 48%;
    }

    .name-inputs label {
        font-size: 12px;
        color: #666;
    }

input, textarea {
    width: 100%;
    outline: none;
    display: block;
    padding: 0.75em;
    border: 1px solid #dddddd;
}



.contact-second-form {
    width: 50%;
}

    .contact-second-form input {
    }

    .contact-second-form form {
        background-color: white;
        width: 100%;
        color: #666;
    }

    .contact-second-form textarea {
        overflow: auto;
        resize: both;
        height: 120px;
        max-width: 800px;
    }

label span {
    margin-left: 5px;
    color: red;
}

.ss {
    width: 65%;
    padding: 30px 50px 25px 50px;
    background-color: white;
    margin-left: 1px;
}


.form-item {
    margin: 20px 0;
}

    .form-item > label {
        font-weight: 700;
    }

.contact-second-form .explore-btn {
    padding: 10px 15px;
    background-color: white;
    margin: 15px 0px;
}

.shop {
    padding: 150px 0;
}

.shop-first {
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 5.34em 6.67em
}

.shop-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5em;
}

.filter-btn {
    border: 1px solid black;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: white;
    transition: color,background-color .5s;
}

    .filter-btn:hover {
        color: white;
        background-color: black;
    }

    .filter-btn svg {
        width: 14px;
        height: 14px;
    }


.filter-text {
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

#myDropdown {
    border: none;
    max-width: 160px;
    text-overflow: ellipsis;
    color: #666;
}

.shop-top > div {
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
}


.view-icon {
    margin-left: 10px;
    font-size: 17px;
    cursor: pointer;
}

.shop-top-right {
    display: flex;
    align-items: center;
}

.active {
    color: #db9662
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

    .product-container .category-card {
        width: 24%;
        margin-bottom: 30px;
    }

        .product-container .category-card:hover .card-icons {
            opacity: 1;
        }

.card-discount {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: white;
    width: fit-content;
    border-radius: 20px;
    padding: 0.4em 0.8em;
    font-size: .87em;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    box-shadow: 0 4px 4px rgba(0,0,0,0.15);
    color: rgba(0,0,0,0.45);
}


.disc {
    color: rgba(0,0,0,0.45);
    text-decoration: line-through;
}

.page {
    background-color: white;
    color: #db9662;
}

    .page:hover {
        color: white;
        background-color: #db9662
    }

.page-item.active .page-link {
    background-color: #db9662;
    border-color: #db9662;
}
