@{
    ViewData["Title"] = "Home Page";
}


<div class="home">
    <section class="home-first">
        <div class="home-first-text title">
            <div>
                <h1 class="title">Jewelry of Precious Craft</h1>
                <p class="title-text">Because every piece caries a precious story</p>
                <div class="explore-btn">
                    <a>
                        <span>- Explore Now</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="home-first-img">
        </div>
    </section>
    <section class="home-second">
        <h1 class="title">Shop by Category</h1>
        <a class="explore-btn">
            <span>- View All</span>
        </a>
        <div class="categories-container">
            <div class="category-card">
                <a>
                    <img src="~/img/category1.jpg" />
                </a>
                <div class="category-text">
                    <p>Earrings</p>
                    <span>5</span>
                    <span>Products</span>
                </div>
            </div>

            <div class="category-card">
                <a>
                    <img src="~/img/category2.jpg" />
                </a>
                <div class="category-text">
                    <p>Necklages</p>
                    <span>2</span>
                    <span>Products</span>
                </div>
            </div>
            <div class="category-card">
                <a>
                    <img src="~/img/category3.jpg" />
                </a>
                <div class="category-text">
                    <p>Rings</p>
                    <span>3</span>
                    <span>Products</span>
                </div>
            </div>
        </div>
    </section>
    <section class="home-third">
        <div class="ring-logo">
            <img src="~/img/ring-icon.png" />
        </div>
        <h2 class="title">
            We make high-quality, handcrafted jewelry for over a decade, having the same passion & values!
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="explore-btn">
            <span>- Read More</span>
        </a>
    </section>


    <section class="home-fourth">
        <h2 class="title">New Arrivals</h2>
        <a class="explore-btn">
            <span>- View All</span>
        </a>
        <div class="categories-container">
            <div class="category-card">
                <a>
                    <img src="~/img/new1.jpg" />
                </a>
                <div class="card-icons">
                    <div class="card-icon-container">
                        <button type="button" class="basket">
                            <span class="tooltiptext">Add to cart</span>
                            <i class="bi bi-basket-fill"></i>
                        </button>
                    </div>
                    <div class="card-icon-container">
                        <button type="button" class="view">
                            <span class="tooltiptext">Quick View</span>
                            <i class="bi bi-eye-fill"></i>
                        </button>
                    </div>
                </div>
                <div class="card-text">
                    <span class="card-categoryname">Earrings</span>
                    <a class="">
                        <h2 class="card-productname">Minole Golden Earrings</h2>
                    </a>
                    <span class="card-price">$344</span>
                </div>
            </div>

            <div class="category-card">
                <a>
                    <img src="~/img/new2.jpg" />
                </a>
                <div class="card-icons">
                    <div class="card-icon-container">
                        <button type="button" class="basket">
                            <span class="tooltiptext">Add to cart</span>
                            <i class="bi bi-basket-fill"></i>
                        </button>
                    </div>
                    <div class="card-icon-container">
                        <button type="button" class="view">
                            <span class="tooltiptext">Quick View</span>
                            <i class="bi bi-eye-fill"></i>
                        </button>
                    </div>
                </div>
                <div class="card-text">
                    <span class="card-categoryname">Earrings</span>
                    <a class="">
                        <h2 class="card-productname">Minole Golden Earrings</h2>
                    </a>
                    <span class="card-price">$344</span>
                </div>
            </div>
            <div class="category-card">
                <a>
                    <img src="~/img/new3.jpg" />
                </a>
                <div class="card-icons">
                    <div class="card-icon-container">
                        <button type="button" class="basket">
                            <span class="tooltiptext">Add to cart</span>
                            <i class="bi bi-basket-fill"></i>
                        </button>
                    </div>
                    <div class="card-icon-container">
                        <button type="button" class="view">
                            <span class="tooltiptext">Quick View</span>
                            <i class="bi bi-eye-fill"></i>
                        </button>
                    </div>
                </div>
                <div class="card-text">
                    <span class="card-categoryname">Earrings</span>
                    <a class="">
                        <h2 class="card-productname">Minole Golden Earrings</h2>
                    </a>
                    <span class="card-price">$344</span>
                </div>
            </div>
        </div>
    </section>
    <section class="home-fifth">
        <div class="home-fifth-first">
            <img src="~/img/homebg-05.jpg" />
        </div>
        <div class="home-fifth-second">
            <h1 class="title">Exquisite Jewelry for Everyone</h1>
            <div style="display:flex;justify-content:center;">
                <div class="divider"></div>
            </div>
            <p class="title-text">Discover our awesome rings collection</p>
            <div class="explore-btn">
                <a>
                    <span>- Discover The Collection</span>
                </a>
            </div>
        </div>
        <div class="home-fifth-third">
            <img src="~/img/ringimg-02.png" />
        </div>
    </section>

    <section class="home-sixth">
        <div class="home-sixth-first">
            <img src="~/img/section6img.png" />
            <div class="home-sixth-second">
                <h5>testimonials</h5>
            </div>
        </div>
        <p class="title-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua veniam...</p>
        <div style="display:flex;justify-content:center;">
            <div class="divider"></div>
        </div>
    </section>


    <section class="home-seventh">
        <div class="collections">
            <div class="collection-card">
                <img src="~/img/collection1.jpg" />
                <div class="collection-card-overlay"></div>
                <div class="collection-card-text">
                    <h2>
                        <a href="#">Lammar Collection</a>
                    </h2>
                    <p>The perfect match for any outfit</p>
                    <h6>
                        Starting at $<span>350.00</span>
                    </h6>
                </div>
            </div>
            <div class="collection-card">
                <img src="~/img/collection2.jpg" />
                <div class="collection-card-overlay"></div>

                <div class="collection-card-text">
                    <h2>
                        <a href="#">Fermina Collection</a>
                    </h2>
                    <p>The perfect match for any outfit</p>
                    <h6>
                        Starting at $<span>350.00</span>
                    </h6>
                </div>
            </div>
            <div class="collection-card">
                <img src="~/img/collection3.jpg" />
                <div class="collection-card-overlay"></div>

                <div class="collection-card-text">
                    <h2>
                        <a href="#">Tolentino Collection</a>
                    </h2>
                    <p>The perfect match for any outfit</p>
                    <h6>
                        Starting at $<span>350.00</span>
                    </h6>
                </div>
            </div>
        </div>
    </section>
    <section class="home-eighth">
        <h2 class="title">Featured Products</h2>
        <a class="explore-btn">
            <span>- View All</span>
        </a>
        <div class="categories-container">
            <div class="category-card">
                <a>
                    <img src="~/img/featured-product1.jpg" />
                </a>
                <div class="card-icons">
                    <div class="card-icon-container">
                        <button type="button" class="basket">
                            <span class="tooltiptext">Add to cart</span>
                            <i class="bi bi-basket-fill"></i>
                        </button>
                    </div>
                    <div class="card-icon-container">
                        <button type="button" class="view">
                            <span class="tooltiptext">Quick View</span>
                            <i class="bi bi-eye-fill"></i>
                        </button>
                    </div>
                </div>
                <div class="card-text">
                    <span class="card-categoryname">Earrings</span>
                    <a class="">
                        <h2 class="card-productname">Minole Golden Earrings</h2>
                    </a>
                    <span class="card-price">$344</span>
                </div>
            </div>

            <div class="category-card">
                <a>
                    <img src="~/img/featured-product2.jpg" />
                </a>
                <div class="card-icons">
                    <div class="card-icon-container">
                        <button type="button" class="basket">
                            <span class="tooltiptext">Add to cart</span>
                            <i class="bi bi-basket-fill"></i>
                        </button>
                    </div>
                    <div class="card-icon-container">
                        <button type="button" class="view">
                            <span class="tooltiptext">Quick View</span>
                            <i class="bi bi-eye-fill"></i>
                        </button>
                    </div>
                </div>
                <div class="card-text">
                    <span class="card-categoryname">Earrings</span>
                    <a class="">
                        <h2 class="card-productname">Minole Golden Earrings</h2>
                    </a>
                    <span class="card-price">$344</span>
                </div>
            </div>
        </div>
    </section>
    <section class="home-nineth">
        <h2 class="title">Precious Metals</h2>
        <div style="display:flex;justify-content:center;">
            <div class="divider"></div>
        </div>
        <div class="precious-container">
            <div class="precious-card">
                <div class="precious-img">
                    <img src="~/img/precous1.jpg" alt="precious1" />
                </div>
                <div class="precious-txt">
                    <h3>14k Solid Gold</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                </div>
            </div>
            <div class="precious-card">
                <div class="precious-img">
                    <img src="~/img/precious2.jpg" alt="precious1" />
                </div>
                <div class="precious-txt">
                    <h3>Sterling Silver</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                </div>
            </div>
            <div class="precious-card">
                <div class="precious-img">
                    <img src="~/img/precious3.jpg" alt="precious1" />
                </div>
                <div class="precious-txt">
                    <h3>Gold Vermeil</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="home-tenth">
        <div class="home-tenth-first">
            <div class="home-tenth-second">
                <h1 class="title">High-Quality, Handcrafted Jewelry</h1>
                <div style="display:flex;justify-content:center;">
                    <div class="divider"></div>
                </div>
                <p class="title-text">Discover our bracelets collection</p>
                <div>
                    <img src="~/img/tenringimg.png" />
                </div>
                <div class="explore-btn">
                    <a>
                        <span>- Explore</span>
                    </a>
                </div>
            </div>
            <div class="home-tenth-third">
                <img src="~/img/tenthoverlay.jpg" />
            </div>
        </div>
    </section>

    <section class="home-eleventh">
        <div class="home-eleventh-first">
            <div class="sale-icon">
                <img src="~/img/sale-icon.png" />
            </div>
            <h1 class="title">25% Discount on Making Charges</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur
                <br />
                adipisicing elit, sed do.
            </p>
            <div class="explore-btn">
                <a>
                    <span>- visit our stores</span>
                </a>
            </div>
        </div>
    </section>
</div>
