<div class="shop">
    <section class="shop-first">
        <div class="shop-container">
            <div class="shop-top">
                <button class="filter-btn">
                    <span class="filter-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M496 384H160v-16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h80v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h336c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm0-160h-80v-16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h336v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h80c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm0-160H288V48c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16C7.2 64 0 71.2 0 80v32c0 8.8 7.2 16 16 16h208v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h208c8.8 0 16-7.2 16-16V80c0-8.8-7.2-16-16-16z"></path></svg>
                    </span>
                    <span class="filter-text">FILTER</span>
                </button>
                <div class="shop-top-right">
                    <div class="dropdown">
                        <select id="myDropdown">
                            <option value="option1">Default sorting</option>
                            <option value="option2">Sort by popularity</option>
                            <option value="option3">Sort by average rating</option>
                            <option value="option4">Sort by latest</option>
                            <option value="option4">Sort by price:low to high</option>
                            <option value="option4">Sort by price:high to low</option>
                        </select>
                    </div>
                    <span class="view-icon active">
                        <i class="bi bi-grid-fill"></i>
                    </span>
                    <span class="view-icon">
                        @* <i class="bi bi-list-ul"></i> *@
                        <i class="fa-solid fa-table-list"></i>
                    </span>
                </div>
            </div>
            <div></div>
        </div>
        <div class="product-container">
        </div>
    </section>
</div>