<div>
    <section class="about-first">
        <div class="about-first-container">
            <div class="ring-logo">
                <img src="~/img/tenringimg.png" />
            </div>
            <h2 class="title">
                We make high-quality, handcrafted jewelry for over a decade, having the same passion & values!
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                <br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur lorem ipsum.
            </p>
        </div>
    </section>
    <section class="about-second">
        <div class="about-second-first"></div>
    </section>
    <section class="about-third">
        <div class="about-third-first">
            <div class="about-third-txt">
                <h1 class="title">Constantly creating new collections and lorem ipsum sit</h1>
                <div style="display:flex;">
                    <div class="divider"></div>
                </div>
                <h5>Fair Pricing</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="about-third-img">
                <img src="~/img/bg-04.jpg" />
            </div>
        </div>
    </section>
    <section class="home-nineth">
        <h2 class="title">Precious Metals</h2>
        <div style="display:flex;justify-content:center;">
            <div class="divider"></div>
        </div>
        <div class="precious-container">
            <div class="precious-card">
                <div class="precious-img">
                    <img src="~/img/precous1.jpg" alt="precious1" />
                </div>
                <div class="precious-txt">
                    <h3>14k Solid Gold</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                </div>
            </div>
            <div class="precious-card">
                <div class="precious-img">
                    <img src="~/img/precious2.jpg" alt="precious1" />
                </div>
                <div class="precious-txt">
                    <h3>Sterling Silver</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                </div>
            </div>
            <div class="precious-card">
                <div class="precious-img">
                    <img src="~/img/precious3.jpg" alt="precious1" />
                </div>
                <div class="precious-txt">
                    <h3>Gold Vermeil</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-fourth">
        <div class="about-fourth-first">
            <div class="about-fourth-overlay">
                <div class="about-fourth-txt">
                    <h1 class="title">We work with expert jewelers all around the world in order to create the most sophisticated pieces of lipsum</h1>
                    <div style="display:flex;">
                        <div class="divider"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>

            </div>
        </div>
    </section>
    <section class="home-eleventh">
        <div class="home-eleventh-first">
            <div class="sale-icon">
                <img src="~/img/sale-icon.png" />
            </div>
            <h1 class="title">25% Discount on Making Charges</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur
                <br />
                adipisicing elit, sed do.
            </p>
            <div class="explore-btn">
                <a>
                    <span>- visit our stores</span>
                </a>
            </div>
        </div>
    </section>
</div>